[submodule "home/.config/zsh/custom/plugins/alias-tips"]
	path = home/.config/zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
	branch = master
	fetchRecurseSubmodules = true
	shallow = true

[submodule "home/.config/zsh/custom/plugins/zsh-autosuggestions"]
	path = home/.config/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
	fetchRecurseSubmodules = true
	shallow = true

[submodule "home/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = home/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
	fetchRecurseSubmodules = true
	shallow = true
