[submodule "zsh/.config/zsh/custom/plugins/alias-tips"]
	path = zsh/.config/zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "alias-tips"]
	branch = master
[submodule "zsh/.config/zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
